html {
    height: 100%;
    width: 100%;
}

body {
  background-color: #fdee00;
  /* alternatively, use a background image
  background-image:url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  */
}

#profile {
  position: fixed;
  width: 416px;
  height: 496px;
  top: 50%;
  left: 50%;
  margin: -248px 0 0 -208px;
}

#profilepic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display:block;
  margin:auto;
}

#name {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 416px;
  padding-top: 15px;
  color: black;
  font-size: 350%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

#tagline {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 416px;
  color: black;
  padding-top: 5px;
  font-size: 180%;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

#socialdiv {
  display: inline-block;
  position: relative;
  width: 416px;
  height: 40px;
  padding-top: 20px;
}

#social {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 6px;
  padding-left: 6px;
}
